{% include "header.html" %}

{% if not current_user.is_authenticated: %}
    <h1 style="text-align:center; margin-top:3%;">Необходим аккаунт</h1>
{% else: %}
    <div class="container">
        <h1 style="text-align:center; margin:4% 0 3% 0;">Нормативы</h1>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a class="btn btn-success" href="{{ url_for('standards_new') }}" role="button" title="Добавить норматив"><i class="bi bi-plus-circle"> Добавить норматив</i></a>
        </div>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>Название</th>
                    <th>[Cкачать]</th>
                    <th>[Удалить]</th>
                </tr>
            </thead>
            <tbody>
                    {% for index in range(standards|length) %}
                    <tr>
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ standards[index].title + standards[index].type }} </td>
                        <td><a href="{{ url_for('download', file=standards[index].title + standards[index].type) }}"><i class="bi bi-download"></i></a></td>
                        <td><a href="{{ url_for('standards_delete', item_id=standards[index].id) }}"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% endfor %}

            </tbody>
        </table>


    </div>
{% endif %}
        